@use "../utils" as *;

:root {
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);

  //Border Radius
  --br-sm-2: 14px;
}

html {
  font-size: 75%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  background-color: var(--color-primary);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 15rem;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  @include breakpoint-down(small) {
    padding: 2rem 2.5rem !important;
  }
}
// .section {
//   transform: translateY(-100%) scale(0);
//   transition: all 0.4s ease-in-out;
//   background-color: var(--color-primary);
// }

.main-tittle {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin: 1.5rem 0;
    @include breakpoint-down(small) {
      font-size: 2rem;
    }
    span {
      color: var(--color-secondary);
      @include breakpoint-down(small) {
        font-size: 2.5rem;
      }
    }
    .bg-text {
      font-size: 5.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: all 0.4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      @include breakpoint-down(small) {
        font-size: 3rem;
      }
    }
  }
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}
.active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
  ion-icon {
    // color: var(--white) !important;
    color: var(--color-primary) !important;
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  @include breakpoint-down(small) {
    top: auto;
    left: 50%;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }

  .control {
    padding: rem(16);
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-1);
    margin: 0.7rem 0;
    font-size: 6.3rem;
    @include breakpoint-down(small) {
      width: 45px;
      height: 45px;
      margin: 0.6rem 1rem;
    }

    ion-icon {
      font-size: 6.5rem;
      color: var(--color-grey-2);
      pointer-events: none;
      @include breakpoint-down(small) {
        font-size: 2rem;
      }
    }
  }
}

// .btnbg {
//   font-weight: 700;
//   font-size: rem(13);
//   color: var(--white);
//   padding: rem(8.2) rem(25) rem(6.2) rem(25);
//   background-color: var(--brown);
// }
// .btnline {
//   display: inline-flex;
//   border-bottom: rem(0.8) solid var(--brown);
//   font-weight: 400;
//   font-size: rem(18);
// }
