@use "../utils" as *;

ul li {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.primary-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: rem(36);
}

.secondary-heading {
  font-weight: 700;
  font-size: rem(25);
}

.tertiary-heading {
  font-weight: 400;
  font-size: rem(18);
}

.paragraph {
  font-weight: 400;
  font-size: rem(14);
}
